{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block title %}Детали товара{% endblock %}
{% block context %}
<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ product.price }}</h1>
                    <p class="card-title pricing-card-title">{{ product.descriptions }}</p>
                    <img src="{{ product.image | media_filter }}" style="width: 100%; height: 200px;">
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                    <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="/">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
